{% load staticfiles %}
<html>
    <head>
        <title>Travel With Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel = 'stylesheet' href = '{% static 'css/blog.css' %}'>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class = 'page-header'>
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a style = "font-family: 'georgia'; font-weight: bold;" href="">Travel With Me</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8 col-content">
                    {% for post in posts %}
                        <div class="post">
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <div class="date">
                                <p><span style = 'font-style: italic;'> - Pratigya Bashyal</span><br>{{ post.published_date }}</p>
                            </div>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>